{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "camelcase": "error",
    "no-restricted-modules": "off",
    "allowDeclarations": true,
    "allowDefinitionFiles": true
  }
}
