*.vsix
*.tsbuildinfo

~\$*
node_modules/
out/
dist/
log.txt
out
node_modules
client/server
.vscode-test
/documentation/cheat-sheet/*.html

minecraft-bedrock-schemas/**/*.json
!minecraft-bedrock-schemas/compress specification.json

minecraft-bedrock-schemas/src
minecraft-bedrock-schemas/test
reports