client/node_modules/**
client/src/**
server/node_modules/**
server/src/**
server/test/**
shared/**

client/out/**
server/out/**
!client/out/extension.js
!server/out/server.js

scripts/**
node_modules
node_modules/**
LICENSES
LICENSES/**

**/*.ts
**/*.js.map

**/tsconfig.json
**/webpack.config.js
*.git*
*.code-workspace
*.vsix
.gitattributes
.github
.github/**
.gitignore
.vscode
.vscode/**
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Debugging.md
NOTE.md

**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/Debugging.md
**/NOTE.md

contributing.mdp
documentation/**
minecraft colours.json

source schemas/**
src/**
tools/**
log.txt
tsconfig.json
webpack.config.js

!documentation/cheat-sheet
!documentation/cheat-sheet/*html


minecraft-bedrock-schemas/*
minecraft-bedrock-schemas/**/*
!minecraft-bedrock-schemas/behavior
!minecraft-bedrock-schemas/behavior/*json
!minecraft-bedrock-schemas/general
!minecraft-bedrock-schemas/general/*json
!minecraft-bedrock-schemas/language
!minecraft-bedrock-schemas/language/*json
!minecraft-bedrock-schemas/resource
!minecraft-bedrock-schemas/resource/*json
!minecraft-bedrock-schemas/skinpacks
!minecraft-bedrock-schemas/skinpacks/*json

.eslintignore
.eslintrc
.mocharc.json