client/node_modules/**
client/src/**
server/node_modules/**
server/src/**
server/test/**
shared/**
scripts/**
node_modules
node_modules/**
LICENSES
LICENSES/**

client/out/**
server/out/**
!client/out/extension.js
!server/out/server.js

.gitattributes
.github
.github/**
.gitignore
.mcignore
.nvmrc
.vscode
.vscode/**
*.code-workspace
*.git*
*.vsix
CODE_OF_CONDUCT.md
CONTRIBUTING.md
contributing.mdp
Debugging.md
documentation/**
server/coverage/**
client/coverage/**
log.txt
minecraft colours.json
NOTE.md
source schemas/**
src/**
tools/**
tsconfig.json
webpack.config.js

**/.eslintignore
**/.eslintrc
**/.mocharc.json
**/*.js.map
**/*.ts
**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/Debugging.md
**/NOTE.md
**/tsconfig.json
**/webpack.config.js
**/package-lock.json


!documentation/cheat-sheet
!documentation/cheat-sheet/*html
!media/**/*

minecraft-bedrock-schemas/*
minecraft-bedrock-schemas/**/*
minecraft-bedrock-schemas/**/NOTE.md
!minecraft-bedrock-schemas/behavior
!minecraft-bedrock-schemas/behavior/*json
!minecraft-bedrock-schemas/general
!minecraft-bedrock-schemas/general/*json
!minecraft-bedrock-schemas/language
!minecraft-bedrock-schemas/language/*json
!minecraft-bedrock-schemas/resource
!minecraft-bedrock-schemas/resource/*json
!minecraft-bedrock-schemas/skinpacks
!minecraft-bedrock-schemas/skinpacks/*json