**/tsconfig.json
**/webpack.config.js
*.git*
*.vsix
.gitattributes
.github
.github/
.gitignore
.vscode
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Debugging.md
build.bat
documentation/
log.txt
node_modules
node_modules/
out/
src/
tools/
tsconfig.json
webpack.config.js
source schemas/